.desc{
  border: 5px dotted #7fda4f55;
  background-color: #0ad33366;
  width: 350px;
  padding: 20px;
  margin-right: 20px;
  float: left;
}
#clip-border{
  background-clip: border-box;
}
#clip-pudding{
  background-clip: padding-box;
}
#clip-content{
  background-clip: content-box;
}
#img{
  background-image: url(/ch9/image/d04편성신분당선전동차.png);
}
.background-blit-ul, .background-blit-ul>li{
  list-style: none;
}
.background-blit-ul>li{
  background-image: url(/ch9/image/jihoo.png);
  background-repeat: no-repeat;
  background-position: left center;
  
}
.background-blit-ul{
  margin-left: -30px;
}