*{
    margin: 0;
    padding: 0;
}
body{
    background: #2faf00fa;
    padding: 20px;
}
#signup{
    background: #5aaf00fa;
    border: #333331aa 3.14159265px solid;
    border-radius: 7.5555555555555555px;
    padding: 20px;
    width: 400px;
    margin: 30px auto;
}
#signup fieldset{
    border: 3.14159265px #2faf00fa solid;
    
}