*{
    margin: 0;
    padding: 0;
}
body{
    background: #542aff66;
    padding: 20px;
}
#signup{
    background: #9a3dffdd;
    border: 1px solid #993835dd;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 20px auto;
}
#signup fieldset{
    border: 1px solid #4553549d;
}
